.logo-link {
  text-decoration: none;
  color: #fff;
  .nav-wrapper {
    background-color: lightgray;
    .logo-wrapper {
      display: flex;
    }
    .logo-img {
      width: 100%;
      height: auto;
    }
    .logo-h2 {
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }
}
